-- CreateTable
CREATE TABLE "Entite" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "code" TEXT NOT NULL,
    "nom" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "localisation" TEXT NOT NULL,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "Utilisateur" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "login" TEXT NOT NULL,
    "nom" TEXT NOT NULL,
    "email" TEXT,
    "motDePasse" TEXT NOT NULL,
    "role" TEXT NOT NULL,
    "permissionsPersonnalisees" TEXT,
    "rolesSupplementaires" TEXT,
    "entiteId" INTEGER NOT NULL DEFAULT 1,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "tokenVersion" INTEGER NOT NULL DEFAULT 0,
    "lastLoginAt" DATETIME,
    "loginCount" INTEGER NOT NULL DEFAULT 0,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "Utilisateur_entiteId_fkey" FOREIGN KEY ("entiteId") REFERENCES "Entite" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Magasin" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "code" TEXT NOT NULL,
    "nom" TEXT NOT NULL,
    "localisation" TEXT NOT NULL,
    "entiteId" INTEGER NOT NULL,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "estDepotPrincipal" BOOLEAN NOT NULL DEFAULT false,
    "soldeCaisse" REAL NOT NULL DEFAULT 0,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "Magasin_entiteId_fkey" FOREIGN KEY ("entiteId") REFERENCES "Entite" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Produit" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "code" TEXT NOT NULL,
    "codeBarres" TEXT,
    "designation" TEXT NOT NULL,
    "categorie" TEXT NOT NULL,
    "unite" TEXT NOT NULL DEFAULT 'unite',
    "prixAchat" REAL,
    "prixVente" REAL,
    "pamp" REAL DEFAULT 0,
    "seuilMin" INTEGER NOT NULL DEFAULT 5,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    "fournisseurId" INTEGER,
    "entiteId" INTEGER NOT NULL DEFAULT 1,
    "prixMinimum" REAL DEFAULT 0,
    CONSTRAINT "Produit_entiteId_fkey" FOREIGN KEY ("entiteId") REFERENCES "Entite" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Produit_fournisseurId_fkey" FOREIGN KEY ("fournisseurId") REFERENCES "Fournisseur" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Stock" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "produitId" INTEGER NOT NULL,
    "magasinId" INTEGER NOT NULL,
    "quantite" REAL NOT NULL DEFAULT 0,
    "quantiteInitiale" REAL NOT NULL DEFAULT 0,
    "entiteId" INTEGER NOT NULL DEFAULT 1,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "Stock_entiteId_fkey" FOREIGN KEY ("entiteId") REFERENCES "Entite" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Stock_produitId_fkey" FOREIGN KEY ("produitId") REFERENCES "Produit" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "Stock_magasinId_fkey" FOREIGN KEY ("magasinId") REFERENCES "Magasin" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Mouvement" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "date" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "type" TEXT NOT NULL,
    "produitId" INTEGER NOT NULL,
    "magasinId" INTEGER NOT NULL,
    "entiteId" INTEGER NOT NULL,
    "utilisateurId" INTEGER NOT NULL,
    "quantite" REAL NOT NULL,
    "observation" TEXT,
    "referenceTransfertId" INTEGER,
    "dateOperation" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "Mouvement_produitId_fkey" FOREIGN KEY ("produitId") REFERENCES "Produit" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "Mouvement_magasinId_fkey" FOREIGN KEY ("magasinId") REFERENCES "Magasin" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Mouvement_entiteId_fkey" FOREIGN KEY ("entiteId") REFERENCES "Entite" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Mouvement_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "Utilisateur" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Mouvement_referenceTransfertId_fkey" FOREIGN KEY ("referenceTransfertId") REFERENCES "Transfert" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Transfert" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "numero" TEXT NOT NULL,
    "date" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "magasinOrigineId" INTEGER NOT NULL,
    "magasinDestId" INTEGER NOT NULL,
    "entiteId" INTEGER NOT NULL,
    "utilisateurId" INTEGER NOT NULL,
    "observation" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "Transfert_magasinOrigineId_fkey" FOREIGN KEY ("magasinOrigineId") REFERENCES "Magasin" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Transfert_magasinDestId_fkey" FOREIGN KEY ("magasinDestId") REFERENCES "Magasin" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Transfert_entiteId_fkey" FOREIGN KEY ("entiteId") REFERENCES "Entite" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Transfert_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "Utilisateur" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "TransfertLigne" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "transfertId" INTEGER NOT NULL,
    "produitId" INTEGER NOT NULL,
    "designation" TEXT NOT NULL,
    "quantite" REAL NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "TransfertLigne_produitId_fkey" FOREIGN KEY ("produitId") REFERENCES "Produit" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "TransfertLigne_transfertId_fkey" FOREIGN KEY ("transfertId") REFERENCES "Transfert" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Client" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "code" TEXT,
    "nom" TEXT NOT NULL,
    "telephone" TEXT,
    "email" TEXT,
    "adresse" TEXT,
    "localisation" TEXT,
    "type" TEXT NOT NULL,
    "plafondCredit" REAL,
    "soldeInitial" REAL NOT NULL DEFAULT 0,
    "avoirInitial" REAL NOT NULL DEFAULT 0,
    "pointsFidelite" INTEGER NOT NULL DEFAULT 0,
    "ncc" TEXT,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    "entiteId" INTEGER NOT NULL DEFAULT 1,
    CONSTRAINT "Client_entiteId_fkey" FOREIGN KEY ("entiteId") REFERENCES "Entite" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Fournisseur" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "code" TEXT,
    "nom" TEXT NOT NULL,
    "telephone" TEXT,
    "email" TEXT,
    "adresse" TEXT,
    "localisation" TEXT,
    "ncc" TEXT,
    "soldeInitial" REAL NOT NULL DEFAULT 0,
    "avoirInitial" REAL NOT NULL DEFAULT 0,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    "numeroCamion" TEXT,
    "entiteId" INTEGER DEFAULT 1,
    CONSTRAINT "Fournisseur_entiteId_fkey" FOREIGN KEY ("entiteId") REFERENCES "Entite" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "ReglementVente" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "date" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "montant" REAL NOT NULL,
    "modePaiement" TEXT NOT NULL,
    "statut" TEXT NOT NULL DEFAULT 'VALIDE',
    "rapproche" BOOLEAN NOT NULL DEFAULT false,
    "banqueId" INTEGER,
    "venteId" INTEGER,
    "clientId" INTEGER,
    "utilisateurId" INTEGER NOT NULL,
    "observation" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "entiteId" INTEGER DEFAULT 1,
    CONSTRAINT "ReglementVente_venteId_fkey" FOREIGN KEY ("venteId") REFERENCES "Vente" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "ReglementVente_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES "Client" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "ReglementVente_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "Utilisateur" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "ReglementVente_banqueId_fkey" FOREIGN KEY ("banqueId") REFERENCES "Banque" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "ReglementVenteLigne" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "reglementId" INTEGER NOT NULL,
    "venteId" INTEGER NOT NULL,
    "montant" REAL NOT NULL,
    CONSTRAINT "ReglementVenteLigne_reglementId_fkey" FOREIGN KEY ("reglementId") REFERENCES "ReglementVente" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "ReglementVenteLigne_venteId_fkey" FOREIGN KEY ("venteId") REFERENCES "Vente" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "ReglementAchat" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "date" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "montant" REAL NOT NULL,
    "modePaiement" TEXT NOT NULL,
    "statut" TEXT NOT NULL DEFAULT 'VALIDE',
    "rapproche" BOOLEAN NOT NULL DEFAULT false,
    "achatId" INTEGER,
    "fournisseurId" INTEGER,
    "utilisateurId" INTEGER NOT NULL,
    "observation" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    "entiteId" INTEGER DEFAULT 1,
    CONSTRAINT "ReglementAchat_achatId_fkey" FOREIGN KEY ("achatId") REFERENCES "Achat" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "ReglementAchat_fournisseurId_fkey" FOREIGN KEY ("fournisseurId") REFERENCES "Fournisseur" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "ReglementAchat_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "Utilisateur" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "ReglementAchatLigne" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "reglementId" INTEGER NOT NULL,
    "achatId" INTEGER NOT NULL,
    "montant" REAL NOT NULL,
    CONSTRAINT "ReglementAchatLigne_reglementId_fkey" FOREIGN KEY ("reglementId") REFERENCES "ReglementAchat" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "ReglementAchatLigne_achatId_fkey" FOREIGN KEY ("achatId") REFERENCES "Achat" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Caisse" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "date" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "magasinId" INTEGER NOT NULL,
    "type" TEXT NOT NULL,
    "motif" TEXT NOT NULL,
    "montant" REAL NOT NULL,
    "utilisateurId" INTEGER NOT NULL,
    "dateOperation" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "observation" TEXT,
    "sousType" TEXT NOT NULL DEFAULT 'MANUEL',
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    "entiteId" INTEGER NOT NULL DEFAULT 1,
    CONSTRAINT "Caisse_magasinId_fkey" FOREIGN KEY ("magasinId") REFERENCES "Magasin" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Caisse_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "Utilisateur" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Parametre" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "nomEntreprise" TEXT NOT NULL DEFAULT '',
    "slogan" TEXT,
    "contact" TEXT NOT NULL DEFAULT '',
    "email" TEXT,
    "siteWeb" TEXT,
    "localisation" TEXT NOT NULL DEFAULT '',
    "numNCC" TEXT,
    "devise" TEXT NOT NULL DEFAULT 'FCFA',
    "tvaParDefaut" REAL NOT NULL DEFAULT 0,
    "typeCommerce" TEXT NOT NULL DEFAULT 'GENERAL',
    "logo" TEXT,
    "piedDePage" TEXT,
    "smtpHost" TEXT,
    "smtpPort" INTEGER,
    "smtpUser" TEXT,
    "smtpPass" TEXT,
    "backupAuto" BOOLEAN NOT NULL DEFAULT false,
    "backupFrequence" TEXT NOT NULL DEFAULT 'QUOTIDIEN',
    "backupDestination" TEXT NOT NULL DEFAULT 'LOCAL',
    "backupEmailDest" TEXT,
    "fideliteActive" BOOLEAN NOT NULL DEFAULT false,
    "fideliteSeuilPoints" INTEGER NOT NULL DEFAULT 100,
    "fideliteTauxRemise" REAL NOT NULL DEFAULT 5,
    "updatedAt" DATETIME NOT NULL,
    "logoLocal" TEXT,
    "registreCommerce" TEXT,
    "mentionSpeciale" TEXT DEFAULT 'Les produits sortis du magasin ne seront plus repris. Veuillez exiger votre facture avant de partir.',
    "dateCloture" DATETIME
);

-- CreateTable
CREATE TABLE "Vente" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "numero" TEXT NOT NULL,
    "date" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "magasinId" INTEGER NOT NULL,
    "entiteId" INTEGER NOT NULL,
    "utilisateurId" INTEGER NOT NULL,
    "clientId" INTEGER,
    "clientLibre" TEXT,
    "montantTotal" REAL NOT NULL,
    "fraisApproche" REAL NOT NULL DEFAULT 0,
    "remiseGlobale" REAL NOT NULL DEFAULT 0,
    "montantPaye" REAL NOT NULL DEFAULT 0,
    "statutPaiement" TEXT NOT NULL DEFAULT 'CREDIT',
    "modePaiement" TEXT NOT NULL,
    "pointsGagnes" INTEGER NOT NULL DEFAULT 0,
    "statut" TEXT NOT NULL DEFAULT 'VALIDEE',
    "estVenteRapide" BOOLEAN NOT NULL DEFAULT false,
    "observation" TEXT,
    "numeroBon" TEXT,
    "dateOperation" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "estHistorique" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "Vente_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES "Client" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Vente_magasinId_fkey" FOREIGN KEY ("magasinId") REFERENCES "Magasin" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Vente_entiteId_fkey" FOREIGN KEY ("entiteId") REFERENCES "Entite" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Vente_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "Utilisateur" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "VenteLigne" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "venteId" INTEGER NOT NULL,
    "produitId" INTEGER NOT NULL,
    "designation" TEXT NOT NULL,
    "quantite" REAL NOT NULL,
    "prixUnitaire" REAL NOT NULL,
    "coutUnitaire" REAL NOT NULL DEFAULT 0,
    "tva" REAL NOT NULL DEFAULT 0,
    "remise" REAL NOT NULL DEFAULT 0,
    "montant" REAL NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "VenteLigne_produitId_fkey" FOREIGN KEY ("produitId") REFERENCES "Produit" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "VenteLigne_venteId_fkey" FOREIGN KEY ("venteId") REFERENCES "Vente" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Retour" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "numero" TEXT NOT NULL,
    "date" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "venteId" INTEGER NOT NULL,
    "clientId" INTEGER,
    "magasinId" INTEGER NOT NULL,
    "entiteId" INTEGER NOT NULL,
    "utilisateurId" INTEGER NOT NULL,
    "montantTotal" REAL NOT NULL,
    "observation" TEXT,
    "estRembourse" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "Retour_venteId_fkey" FOREIGN KEY ("venteId") REFERENCES "Vente" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Retour_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES "Client" ("id") ON DELETE SET NULL ON UPDATE CASCADE,
    CONSTRAINT "Retour_magasinId_fkey" FOREIGN KEY ("magasinId") REFERENCES "Magasin" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Retour_entiteId_fkey" FOREIGN KEY ("entiteId") REFERENCES "Entite" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Retour_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "Utilisateur" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "RetourLigne" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "retourId" INTEGER NOT NULL,
    "produitId" INTEGER NOT NULL,
    "designation" TEXT NOT NULL,
    "quantite" REAL NOT NULL,
    "prixUnitaire" REAL NOT NULL,
    "tva" REAL NOT NULL DEFAULT 0,
    "remise" REAL NOT NULL DEFAULT 0,
    "montant" REAL NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "RetourLigne_retourId_fkey" FOREIGN KEY ("retourId") REFERENCES "Retour" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "RetourLigne_produitId_fkey" FOREIGN KEY ("produitId") REFERENCES "Produit" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Achat" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "numero" TEXT NOT NULL,
    "date" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "magasinId" INTEGER NOT NULL,
    "entiteId" INTEGER NOT NULL,
    "utilisateurId" INTEGER NOT NULL,
    "fournisseurId" INTEGER,
    "fournisseurLibre" TEXT,
    "montantTotal" REAL NOT NULL,
    "fraisApproche" REAL NOT NULL DEFAULT 0,
    "montantPaye" REAL DEFAULT 0,
    "statut" TEXT NOT NULL DEFAULT 'VALIDEE',
    "statutPaiement" TEXT NOT NULL DEFAULT 'CREDIT',
    "modePaiement" TEXT NOT NULL DEFAULT 'ESPECES',
    "numeroCamion" TEXT,
    "observation" TEXT,
    "dateOperation" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "Achat_fournisseurId_fkey" FOREIGN KEY ("fournisseurId") REFERENCES "Fournisseur" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Achat_magasinId_fkey" FOREIGN KEY ("magasinId") REFERENCES "Magasin" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Achat_entiteId_fkey" FOREIGN KEY ("entiteId") REFERENCES "Entite" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Achat_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "Utilisateur" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "AchatLigne" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "achatId" INTEGER NOT NULL,
    "produitId" INTEGER NOT NULL,
    "designation" TEXT NOT NULL,
    "quantite" REAL NOT NULL,
    "prixUnitaire" REAL NOT NULL,
    "coutUnitaire" REAL NOT NULL DEFAULT 0,
    "tva" REAL NOT NULL DEFAULT 0,
    "remise" REAL NOT NULL DEFAULT 0,
    "montant" REAL NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "AchatLigne_produitId_fkey" FOREIGN KEY ("produitId") REFERENCES "Produit" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "AchatLigne_achatId_fkey" FOREIGN KEY ("achatId") REFERENCES "Achat" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Charge" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "date" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "magasinId" INTEGER,
    "entiteId" INTEGER NOT NULL,
    "utilisateurId" INTEGER NOT NULL,
    "statut" TEXT DEFAULT 'VALIDE',
    "type" TEXT NOT NULL,
    "rubrique" TEXT NOT NULL,
    "beneficiaire" TEXT,
    "montant" REAL NOT NULL,
    "observation" TEXT,
    "modePaiement" TEXT NOT NULL DEFAULT 'ESPECES',
    "pieceJustificative" TEXT,
    "banqueId" INTEGER,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "Charge_magasinId_fkey" FOREIGN KEY ("magasinId") REFERENCES "Magasin" ("id") ON DELETE SET NULL ON UPDATE CASCADE,
    CONSTRAINT "Charge_entiteId_fkey" FOREIGN KEY ("entiteId") REFERENCES "Entite" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Charge_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "Utilisateur" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Charge_banqueId_fkey" FOREIGN KEY ("banqueId") REFERENCES "Banque" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Depense" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "date" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "magasinId" INTEGER,
    "entiteId" INTEGER NOT NULL,
    "utilisateurId" INTEGER NOT NULL,
    "categorie" TEXT NOT NULL,
    "libelle" TEXT NOT NULL,
    "montant" REAL NOT NULL,
    "montantPaye" REAL NOT NULL DEFAULT 0,
    "statutPaiement" TEXT NOT NULL DEFAULT 'PAYE',
    "modePaiement" TEXT NOT NULL,
    "beneficiaire" TEXT,
    "pieceJustificative" TEXT,
    "observation" TEXT,
    "banqueId" INTEGER,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "Depense_magasinId_fkey" FOREIGN KEY ("magasinId") REFERENCES "Magasin" ("id") ON DELETE SET NULL ON UPDATE CASCADE,
    CONSTRAINT "Depense_entiteId_fkey" FOREIGN KEY ("entiteId") REFERENCES "Entite" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Depense_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "Utilisateur" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Depense_banqueId_fkey" FOREIGN KEY ("banqueId") REFERENCES "Banque" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Banque" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "numero" TEXT NOT NULL,
    "nomBanque" TEXT NOT NULL,
    "libelle" TEXT NOT NULL,
    "soldeInitial" REAL NOT NULL DEFAULT 0,
    "soldeActuel" REAL NOT NULL DEFAULT 0,
    "entiteId" INTEGER NOT NULL,
    "compteId" INTEGER,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "Banque_entiteId_fkey" FOREIGN KEY ("entiteId") REFERENCES "Entite" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Banque_compteId_fkey" FOREIGN KEY ("compteId") REFERENCES "PlanCompte" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "OperationBancaire" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "banqueId" INTEGER NOT NULL,
    "date" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "type" TEXT NOT NULL,
    "libelle" TEXT NOT NULL,
    "montant" REAL NOT NULL,
    "soldeAvant" REAL NOT NULL,
    "soldeApres" REAL NOT NULL,
    "reference" TEXT,
    "beneficiaire" TEXT,
    "utilisateurId" INTEGER NOT NULL,
    "observation" TEXT,
    "entiteId" INTEGER NOT NULL DEFAULT 1,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "OperationBancaire_banqueId_fkey" FOREIGN KEY ("banqueId") REFERENCES "Banque" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "OperationBancaire_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "Utilisateur" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "OperationBancaire_entiteId_fkey" FOREIGN KEY ("entiteId") REFERENCES "Entite" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "AuditLog" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "date" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "utilisateurId" INTEGER NOT NULL,
    "action" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "entiteId" INTEGER,
    "description" TEXT,
    "details" TEXT,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "AuditLog_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "Utilisateur" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "PlanCompte" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "numero" TEXT NOT NULL,
    "libelle" TEXT NOT NULL,
    "classe" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "Journal" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "code" TEXT NOT NULL,
    "libelle" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "EcritureComptable" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "numero" TEXT NOT NULL,
    "date" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "journalId" INTEGER NOT NULL,
    "piece" TEXT,
    "libelle" TEXT NOT NULL,
    "compteId" INTEGER NOT NULL,
    "debit" REAL NOT NULL DEFAULT 0,
    "credit" REAL NOT NULL DEFAULT 0,
    "reference" TEXT,
    "referenceType" TEXT,
    "referenceId" INTEGER,
    "utilisateurId" INTEGER NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    "entiteId" INTEGER DEFAULT 1,
    CONSTRAINT "EcritureComptable_journalId_fkey" FOREIGN KEY ("journalId") REFERENCES "Journal" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "EcritureComptable_compteId_fkey" FOREIGN KEY ("compteId") REFERENCES "PlanCompte" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "EcritureComptable_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "Utilisateur" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "PrintTemplate" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "type" TEXT NOT NULL,
    "nom" TEXT NOT NULL,
    "logo" TEXT,
    "enTete" TEXT,
    "piedDePage" TEXT,
    "variables" TEXT,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "entiteId" INTEGER NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "DashboardPreference" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "utilisateurId" INTEGER NOT NULL,
    "widgets" TEXT,
    "periode" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "DashboardPreference_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "Utilisateur" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "ArchiveVente" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "numeroFactureOrigine" TEXT NOT NULL,
    "date" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "magasinId" INTEGER NOT NULL,
    "entiteId" INTEGER NOT NULL,
    "utilisateurId" INTEGER NOT NULL,
    "clientId" INTEGER,
    "clientLibre" TEXT,
    "montantTotal" REAL NOT NULL,
    "observation" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "ArchiveVente_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES "Client" ("id") ON DELETE SET NULL ON UPDATE CASCADE,
    CONSTRAINT "ArchiveVente_magasinId_fkey" FOREIGN KEY ("magasinId") REFERENCES "Magasin" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "ArchiveVente_entiteId_fkey" FOREIGN KEY ("entiteId") REFERENCES "Entite" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "ArchiveVente_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "Utilisateur" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "ArchiveVenteLigne" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "venteId" INTEGER NOT NULL,
    "produitId" INTEGER,
    "designation" TEXT NOT NULL,
    "quantite" REAL NOT NULL,
    "prixUnitaire" REAL NOT NULL,
    "montant" REAL NOT NULL,
    CONSTRAINT "ArchiveVenteLigne_venteId_fkey" FOREIGN KEY ("venteId") REFERENCES "ArchiveVente" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "ArchiveSoldeClient" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "entiteId" INTEGER NOT NULL,
    "utilisateurId" INTEGER NOT NULL,
    "clientId" INTEGER,
    "clientLibre" TEXT,
    "montant" REAL NOT NULL,
    "dateArchive" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "observation" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "ArchiveSoldeClient_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES "Client" ("id") ON DELETE SET NULL ON UPDATE CASCADE,
    CONSTRAINT "ArchiveSoldeClient_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "Utilisateur" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "ArchiveSoldeClient_entiteId_fkey" FOREIGN KEY ("entiteId") REFERENCES "Entite" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "CommandeFournisseur" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "numero" TEXT NOT NULL,
    "date" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "fournisseurId" INTEGER,
    "fournisseurLibre" TEXT,
    "magasinId" INTEGER NOT NULL,
    "entiteId" INTEGER NOT NULL,
    "utilisateurId" INTEGER NOT NULL,
    "montantTotal" REAL NOT NULL DEFAULT 0,
    "fraisApproche" REAL NOT NULL DEFAULT 0,
    "observation" TEXT,
    "statut" TEXT NOT NULL DEFAULT 'BROUILLON',
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "CommandeFournisseur_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "Utilisateur" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "CommandeFournisseur_entiteId_fkey" FOREIGN KEY ("entiteId") REFERENCES "Entite" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "CommandeFournisseur_magasinId_fkey" FOREIGN KEY ("magasinId") REFERENCES "Magasin" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "CommandeFournisseur_fournisseurId_fkey" FOREIGN KEY ("fournisseurId") REFERENCES "Fournisseur" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "CommandeFournisseurLigne" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "commandeId" INTEGER NOT NULL,
    "produitId" INTEGER NOT NULL,
    "designation" TEXT NOT NULL,
    "quantite" REAL NOT NULL,
    "prixUnitaire" REAL NOT NULL,
    "tva" REAL NOT NULL DEFAULT 0,
    "remise" REAL NOT NULL DEFAULT 0,
    "montant" REAL NOT NULL,
    CONSTRAINT "CommandeFournisseurLigne_produitId_fkey" FOREIGN KEY ("produitId") REFERENCES "Produit" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "CommandeFournisseurLigne_commandeId_fkey" FOREIGN KEY ("commandeId") REFERENCES "CommandeFournisseur" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "SystemAlerte" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "date" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "type" TEXT NOT NULL DEFAULT 'INFO',
    "categorie" TEXT NOT NULL DEFAULT 'AUTRE',
    "message" TEXT NOT NULL,
    "referenceId" INTEGER,
    "lu" BOOLEAN NOT NULL DEFAULT false,
    "entiteId" INTEGER DEFAULT 1,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- CreateTable
CREATE TABLE "Licence" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "cle" TEXT NOT NULL,
    "clientNom" TEXT,
    "debutValidite" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "finValidite" DATETIME,
    "statut" TEXT NOT NULL DEFAULT 'ACTIVE',
    "features" TEXT NOT NULL DEFAULT '[]',
    "typeEssai" BOOLEAN NOT NULL DEFAULT false,
    "debutEssai" DATETIME,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateIndex
CREATE UNIQUE INDEX "Entite_code_key" ON "Entite"("code");

-- CreateIndex
CREATE UNIQUE INDEX "Utilisateur_login_key" ON "Utilisateur"("login");

-- CreateIndex
CREATE UNIQUE INDEX "Utilisateur_email_key" ON "Utilisateur"("email");

-- CreateIndex
CREATE INDEX "Utilisateur_entiteId_idx" ON "Utilisateur"("entiteId");

-- CreateIndex
CREATE INDEX "Utilisateur_actif_idx" ON "Utilisateur"("actif");

-- CreateIndex
CREATE UNIQUE INDEX "Magasin_code_key" ON "Magasin"("code");

-- CreateIndex
CREATE INDEX "Magasin_entiteId_idx" ON "Magasin"("entiteId");

-- CreateIndex
CREATE INDEX "Magasin_actif_idx" ON "Magasin"("actif");

-- CreateIndex
CREATE UNIQUE INDEX "Produit_code_key" ON "Produit"("code");

-- CreateIndex
CREATE UNIQUE INDEX "Produit_codeBarres_key" ON "Produit"("codeBarres");

-- CreateIndex
CREATE INDEX "Produit_designation_idx" ON "Produit"("designation");

-- CreateIndex
CREATE INDEX "Produit_categorie_idx" ON "Produit"("categorie");

-- CreateIndex
CREATE INDEX "Produit_actif_idx" ON "Produit"("actif");

-- CreateIndex
CREATE INDEX "Produit_codeBarres_idx" ON "Produit"("codeBarres");

-- CreateIndex
CREATE INDEX "Produit_entiteId_idx" ON "Produit"("entiteId");

-- CreateIndex
CREATE INDEX "Produit_fournisseurId_idx" ON "Produit"("fournisseurId");

-- CreateIndex
CREATE INDEX "Stock_produitId_idx" ON "Stock"("produitId");

-- CreateIndex
CREATE INDEX "Stock_magasinId_idx" ON "Stock"("magasinId");

-- CreateIndex
CREATE INDEX "Stock_quantite_idx" ON "Stock"("quantite");

-- CreateIndex
CREATE INDEX "Stock_entiteId_idx" ON "Stock"("entiteId");

-- CreateIndex
CREATE UNIQUE INDEX "Stock_produitId_magasinId_entiteId_key" ON "Stock"("produitId", "magasinId", "entiteId");

-- CreateIndex
CREATE INDEX "Mouvement_date_idx" ON "Mouvement"("date");

-- CreateIndex
CREATE INDEX "Mouvement_type_idx" ON "Mouvement"("type");

-- CreateIndex
CREATE INDEX "Mouvement_referenceTransfertId_idx" ON "Mouvement"("referenceTransfertId");

-- CreateIndex
CREATE INDEX "Mouvement_entiteId_idx" ON "Mouvement"("entiteId");

-- CreateIndex
CREATE INDEX "Mouvement_magasinId_idx" ON "Mouvement"("magasinId");

-- CreateIndex
CREATE INDEX "Mouvement_produitId_idx" ON "Mouvement"("produitId");

-- CreateIndex
CREATE UNIQUE INDEX "Transfert_numero_key" ON "Transfert"("numero");

-- CreateIndex
CREATE INDEX "Transfert_date_idx" ON "Transfert"("date");

-- CreateIndex
CREATE INDEX "Transfert_magasinOrigineId_idx" ON "Transfert"("magasinOrigineId");

-- CreateIndex
CREATE INDEX "Transfert_magasinDestId_idx" ON "Transfert"("magasinDestId");

-- CreateIndex
CREATE INDEX "Transfert_entiteId_idx" ON "Transfert"("entiteId");

-- CreateIndex
CREATE INDEX "TransfertLigne_transfertId_idx" ON "TransfertLigne"("transfertId");

-- CreateIndex
CREATE UNIQUE INDEX "Client_code_key" ON "Client"("code");

-- CreateIndex
CREATE INDEX "Client_actif_idx" ON "Client"("actif");

-- CreateIndex
CREATE INDEX "Client_entiteId_idx" ON "Client"("entiteId");

-- CreateIndex
CREATE INDEX "Client_type_idx" ON "Client"("type");

-- CreateIndex
CREATE UNIQUE INDEX "Fournisseur_code_key" ON "Fournisseur"("code");

-- CreateIndex
CREATE INDEX "ReglementVente_date_idx" ON "ReglementVente"("date");

-- CreateIndex
CREATE INDEX "ReglementVente_clientId_idx" ON "ReglementVente"("clientId");

-- CreateIndex
CREATE INDEX "ReglementVente_venteId_idx" ON "ReglementVente"("venteId");

-- CreateIndex
CREATE INDEX "ReglementVente_entiteId_idx" ON "ReglementVente"("entiteId");

-- CreateIndex
CREATE INDEX "ReglementVente_modePaiement_idx" ON "ReglementVente"("modePaiement");

-- CreateIndex
CREATE INDEX "ReglementVente_rapproche_idx" ON "ReglementVente"("rapproche");

-- CreateIndex
CREATE INDEX "ReglementVenteLigne_reglementId_idx" ON "ReglementVenteLigne"("reglementId");

-- CreateIndex
CREATE INDEX "ReglementVenteLigne_venteId_idx" ON "ReglementVenteLigne"("venteId");

-- CreateIndex
CREATE INDEX "ReglementAchat_date_idx" ON "ReglementAchat"("date");

-- CreateIndex
CREATE INDEX "ReglementAchat_fournisseurId_idx" ON "ReglementAchat"("fournisseurId");

-- CreateIndex
CREATE INDEX "ReglementAchat_achatId_idx" ON "ReglementAchat"("achatId");

-- CreateIndex
CREATE INDEX "ReglementAchat_entiteId_idx" ON "ReglementAchat"("entiteId");

-- CreateIndex
CREATE INDEX "ReglementAchat_modePaiement_idx" ON "ReglementAchat"("modePaiement");

-- CreateIndex
CREATE INDEX "ReglementAchat_rapproche_idx" ON "ReglementAchat"("rapproche");

-- CreateIndex
CREATE INDEX "ReglementAchatLigne_reglementId_idx" ON "ReglementAchatLigne"("reglementId");

-- CreateIndex
CREATE INDEX "ReglementAchatLigne_achatId_idx" ON "ReglementAchatLigne"("achatId");

-- CreateIndex
CREATE INDEX "Caisse_date_idx" ON "Caisse"("date");

-- CreateIndex
CREATE INDEX "Caisse_entiteId_idx" ON "Caisse"("entiteId");

-- CreateIndex
CREATE INDEX "Caisse_magasinId_idx" ON "Caisse"("magasinId");

-- CreateIndex
CREATE INDEX "Caisse_type_idx" ON "Caisse"("type");

-- CreateIndex
CREATE UNIQUE INDEX "Vente_numero_key" ON "Vente"("numero");

-- CreateIndex
CREATE INDEX "Vente_date_idx" ON "Vente"("date");

-- CreateIndex
CREATE INDEX "Vente_numero_idx" ON "Vente"("numero");

-- CreateIndex
CREATE INDEX "Vente_entiteId_idx" ON "Vente"("entiteId");

-- CreateIndex
CREATE INDEX "Vente_clientId_idx" ON "Vente"("clientId");

-- CreateIndex
CREATE INDEX "Vente_magasinId_idx" ON "Vente"("magasinId");

-- CreateIndex
CREATE INDEX "Vente_statut_idx" ON "Vente"("statut");

-- CreateIndex
CREATE INDEX "Vente_statutPaiement_idx" ON "Vente"("statutPaiement");

-- CreateIndex
CREATE INDEX "VenteLigne_venteId_idx" ON "VenteLigne"("venteId");

-- CreateIndex
CREATE INDEX "VenteLigne_produitId_idx" ON "VenteLigne"("produitId");

-- CreateIndex
CREATE UNIQUE INDEX "Retour_numero_key" ON "Retour"("numero");

-- CreateIndex
CREATE INDEX "Retour_venteId_idx" ON "Retour"("venteId");

-- CreateIndex
CREATE INDEX "Retour_clientId_idx" ON "Retour"("clientId");

-- CreateIndex
CREATE INDEX "Retour_entiteId_idx" ON "Retour"("entiteId");

-- CreateIndex
CREATE INDEX "Retour_magasinId_idx" ON "Retour"("magasinId");

-- CreateIndex
CREATE INDEX "RetourLigne_retourId_idx" ON "RetourLigne"("retourId");

-- CreateIndex
CREATE INDEX "RetourLigne_produitId_idx" ON "RetourLigne"("produitId");

-- CreateIndex
CREATE UNIQUE INDEX "Achat_numero_key" ON "Achat"("numero");

-- CreateIndex
CREATE INDEX "Achat_date_idx" ON "Achat"("date");

-- CreateIndex
CREATE INDEX "Achat_entiteId_idx" ON "Achat"("entiteId");

-- CreateIndex
CREATE INDEX "Achat_fournisseurId_idx" ON "Achat"("fournisseurId");

-- CreateIndex
CREATE INDEX "Achat_magasinId_idx" ON "Achat"("magasinId");

-- CreateIndex
CREATE INDEX "Achat_statut_idx" ON "Achat"("statut");

-- CreateIndex
CREATE INDEX "AchatLigne_achatId_idx" ON "AchatLigne"("achatId");

-- CreateIndex
CREATE INDEX "AchatLigne_produitId_idx" ON "AchatLigne"("produitId");

-- CreateIndex
CREATE INDEX "Charge_date_idx" ON "Charge"("date");

-- CreateIndex
CREATE INDEX "Charge_type_idx" ON "Charge"("type");

-- CreateIndex
CREATE INDEX "Charge_magasinId_idx" ON "Charge"("magasinId");

-- CreateIndex
CREATE INDEX "Charge_entiteId_idx" ON "Charge"("entiteId");

-- CreateIndex
CREATE INDEX "Charge_statut_idx" ON "Charge"("statut");

-- CreateIndex
CREATE INDEX "Depense_date_idx" ON "Depense"("date");

-- CreateIndex
CREATE INDEX "Depense_categorie_idx" ON "Depense"("categorie");

-- CreateIndex
CREATE INDEX "Depense_magasinId_idx" ON "Depense"("magasinId");

-- CreateIndex
CREATE INDEX "Depense_entiteId_idx" ON "Depense"("entiteId");

-- CreateIndex
CREATE INDEX "Depense_statutPaiement_idx" ON "Depense"("statutPaiement");

-- CreateIndex
CREATE UNIQUE INDEX "Banque_numero_key" ON "Banque"("numero");

-- CreateIndex
CREATE INDEX "Banque_entiteId_idx" ON "Banque"("entiteId");

-- CreateIndex
CREATE INDEX "Banque_compteId_idx" ON "Banque"("compteId");

-- CreateIndex
CREATE INDEX "OperationBancaire_banqueId_idx" ON "OperationBancaire"("banqueId");

-- CreateIndex
CREATE INDEX "OperationBancaire_date_idx" ON "OperationBancaire"("date");

-- CreateIndex
CREATE INDEX "OperationBancaire_type_idx" ON "OperationBancaire"("type");

-- CreateIndex
CREATE INDEX "OperationBancaire_entiteId_idx" ON "OperationBancaire"("entiteId");

-- CreateIndex
CREATE INDEX "AuditLog_date_idx" ON "AuditLog"("date");

-- CreateIndex
CREATE INDEX "AuditLog_utilisateurId_idx" ON "AuditLog"("utilisateurId");

-- CreateIndex
CREATE INDEX "AuditLog_action_idx" ON "AuditLog"("action");

-- CreateIndex
CREATE INDEX "AuditLog_type_idx" ON "AuditLog"("type");

-- CreateIndex
CREATE UNIQUE INDEX "PlanCompte_numero_key" ON "PlanCompte"("numero");

-- CreateIndex
CREATE INDEX "PlanCompte_numero_idx" ON "PlanCompte"("numero");

-- CreateIndex
CREATE INDEX "PlanCompte_classe_idx" ON "PlanCompte"("classe");

-- CreateIndex
CREATE UNIQUE INDEX "Journal_code_key" ON "Journal"("code");

-- CreateIndex
CREATE INDEX "Journal_code_idx" ON "Journal"("code");

-- CreateIndex
CREATE UNIQUE INDEX "EcritureComptable_numero_key" ON "EcritureComptable"("numero");

-- CreateIndex
CREATE INDEX "EcritureComptable_date_idx" ON "EcritureComptable"("date");

-- CreateIndex
CREATE INDEX "EcritureComptable_journalId_idx" ON "EcritureComptable"("journalId");

-- CreateIndex
CREATE INDEX "EcritureComptable_compteId_idx" ON "EcritureComptable"("compteId");

-- CreateIndex
CREATE INDEX "EcritureComptable_referenceType_referenceId_idx" ON "EcritureComptable"("referenceType", "referenceId");

-- CreateIndex
CREATE INDEX "EcritureComptable_entiteId_idx" ON "EcritureComptable"("entiteId");

-- CreateIndex
CREATE INDEX "PrintTemplate_type_idx" ON "PrintTemplate"("type");

-- CreateIndex
CREATE INDEX "PrintTemplate_actif_idx" ON "PrintTemplate"("actif");

-- CreateIndex
CREATE INDEX "PrintTemplate_entiteId_idx" ON "PrintTemplate"("entiteId");

-- CreateIndex
CREATE UNIQUE INDEX "DashboardPreference_utilisateurId_key" ON "DashboardPreference"("utilisateurId");

-- CreateIndex
CREATE INDEX "ArchiveVente_date_idx" ON "ArchiveVente"("date");

-- CreateIndex
CREATE INDEX "ArchiveVente_numeroFactureOrigine_idx" ON "ArchiveVente"("numeroFactureOrigine");

-- CreateIndex
CREATE INDEX "ArchiveVente_entiteId_idx" ON "ArchiveVente"("entiteId");

-- CreateIndex
CREATE INDEX "ArchiveVente_clientId_idx" ON "ArchiveVente"("clientId");

-- CreateIndex
CREATE INDEX "ArchiveSoldeClient_dateArchive_idx" ON "ArchiveSoldeClient"("dateArchive");

-- CreateIndex
CREATE INDEX "ArchiveSoldeClient_entiteId_idx" ON "ArchiveSoldeClient"("entiteId");

-- CreateIndex
CREATE INDEX "ArchiveSoldeClient_clientId_idx" ON "ArchiveSoldeClient"("clientId");

-- CreateIndex
CREATE UNIQUE INDEX "CommandeFournisseur_numero_key" ON "CommandeFournisseur"("numero");

-- CreateIndex
CREATE INDEX "CommandeFournisseur_date_idx" ON "CommandeFournisseur"("date");

-- CreateIndex
CREATE INDEX "CommandeFournisseur_entiteId_idx" ON "CommandeFournisseur"("entiteId");

-- CreateIndex
CREATE INDEX "CommandeFournisseur_fournisseurId_idx" ON "CommandeFournisseur"("fournisseurId");

-- CreateIndex
CREATE INDEX "CommandeFournisseur_magasinId_idx" ON "CommandeFournisseur"("magasinId");

-- CreateIndex
CREATE INDEX "CommandeFournisseur_statut_idx" ON "CommandeFournisseur"("statut");

-- CreateIndex
CREATE INDEX "CommandeFournisseurLigne_commandeId_idx" ON "CommandeFournisseurLigne"("commandeId");

-- CreateIndex
CREATE INDEX "SystemAlerte_date_idx" ON "SystemAlerte"("date");

-- CreateIndex
CREATE INDEX "SystemAlerte_type_idx" ON "SystemAlerte"("type");

-- CreateIndex
CREATE INDEX "SystemAlerte_categorie_idx" ON "SystemAlerte"("categorie");

-- CreateIndex
CREATE INDEX "SystemAlerte_lu_idx" ON "SystemAlerte"("lu");

